* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-image: url("Photos/oranges.jpg");
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  background-size: auto;
}

ul {
  margin: auto;
  padding: 0;
}

.produceItem {
  list-style-type: none;
  background-color: white;
  color: darkslategray;
  width: 125px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  justify-content: space-around;
}

.recipeCard {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 425px;
}

a {
  color: darkslategray;
  text-decoration: none;
}

input {
  background-color: #afd0bf;
  color: darkslategray;
  border-radius: 3px;
  width: 125px;
  height: 30px;
  font-size: 20px;
  margin-left: 15px;
}

input:hover {
  background-color: #808f87;
  color: #e2efde;
}

h1 {
  font-size: 60px;
  font-family: "Noto Serif TC", serif;
  margin: 0;
}

.mainTitle {
  font-size: 50px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: lighter;
  margin: 10px;
}

h2 {
  font-size: 20px;
}

.submitButton {
  display: block;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  border-radius: 5px;
  border: 1px solid white;
}

.landingSubmit {
  display: block;
  margin: auto;
  margin-top: 20px;
  border: 1px solid white;
  height: 40px;
}

.landingLogo {
  height: 200px;
  margin-top: 5%;
}

#userMonth {
  background-color: #ffffff;
  color: darkslategray;
  height: 30px;
  width: 125px;
  font-size: 14px;
  padding-left: 10px;
  margin-left: 5px;
}

.clicked {
  background-color: #808f87;
  color: #e2efde;
}

#sorryMsg {
  font-size: 30px;
  margin: 25px;
}

#produceSection {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

p {
  font-size: 45px;
  margin: 25px;
}

@media screen and (max-width: 375px) {
  .produceItem {
    width: 100px;
  }
}
